/** grid overrides for radio buttons and checkboxes **/

.formPlaceholder .js-t4form-container .form-group.list-options.column2 .col-xs-12 {
  display: inline-grid;
  font-size: small;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.formPlaceholder .js-t4form-container .form-group.list-options.column4 .col-xs-12 {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

div.js-t4form-container div.radio+.radio {
    margin-top: auto;
}

div.js-t4form-container div.checkbox+.checkbox {
    margin-top: auto;
}



/** Small and Mobile Screens **/

@media (max-width: 1200px) {
    .formPlaceholder .js-t4form-container .form-group.list-options.column2 .col-xs-12 {
          font-size: x-small;
    }
}

@media (max-width: 700px) {
    .formPlaceholder .js-t4form-container .form-group.list-options.column2 .col-xs-12 {
          font-size: xx-small;
    }
}

@media (max-width: 640px) {
    .formPlaceholder .js-t4form-container .form-group.list-options.column2 .col-xs-12 {
          display: inline-block;
    }
}

@media (max-width: 575.98px) {
    .formPlaceholder form {
        font-size: small;
    }
}

@media (orientation:portrait) {
    .formPlaceholder form {
        font-size: small;
    }
    .formPlaceholder .js-t4form-container .form-group.list-options.column2 .col-xs-12 {
        display: inline-block;
    }
}
